.Main {
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  /* display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0; */
}

.busca {
  display: flex;
} 

.input {
  margin-left: 12px;
  margin-top: 12px;
  width: 250px; 
  /* margin-left: 0px; */
}

.button {
  margin-left: 12px;
  margin-top: 12px;
  /* width: 80px;  */
  /* margin-left: 0px; */
}

.itens {
  margin-left: 12px;
  margin-top: 12px;
}

.item {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center;   */
}

.localizacao {
  font-style: italic;  
  display: flex;
  justify-content: center;   
  margin-bottom: 12px;
}
